@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Old London";
  src: url("old-london.regular.ttf") format("truetype");
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

body {
  font-family: "Times New Roman", sans-serif;
  min-height: 100vh;
  width: 100vw;
  background: url(images/texture3.jpg) repeat;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Old London", sans-serif;
}

main {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 10px 0;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  position: relative;
}

.heading::before {
  width: 100%;
  content: "";
  height: 2px;
  background: #000;
  margin-top: -8px;
}

.heading::after {
  width: 100%;
  content: "";
  height: 2px;
  background: #000;
  margin-bottom: -8px;
}

.heading h1 {
  font-size: 100px;
}

.heading h1 b{
    display: inline-block;
}

.heading span {
  background: url(images/texture3.jpg);
  display: block;
  position: absolute;
  top: -20px;
  font-size: 30px;
  padding: 0 10px;
  font-family: "Old London";
  color: #b93c12;
}

.heading p {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  word-spacing: 5px;
  letter-spacing: 1px;
  font-weight: 500;
}

.section-1 {
  width: 100%;
  min-height: 100vh;
  border: 5px solid #000;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  position: relative;
}

.section-1 h2 {
  font-size: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.section-1 .content {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  position: relative;
}

.section-1 .content .text {
  width: 50%;
  height: 100%;
  display: flex;
  text-align: justify;
  gap: 20px;
  padding-bottom: 50px;
}

.text .left,
.text .right {
  width: 50%;
}

.video {
  width: 50%;
  min-height: 100%;
  overflow: hidden;
  margin-left: 20px;
  filter: grayscale(100%);
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-1 .text p span {
  font-size: 80px;
  float: left;
  margin-right: 6px;
  font-weight: bold;
  line-height: 1;
  background: #000;
  color: #d3cfc6;
  padding: 5px;
}

.side-heading {
  font-size: 47px;
  font-weight: 600;
  position: absolute;
  left: 20px;
  bottom: 2px;
  font-family: "Dela Gothic One", sans-serif;
  text-transform: uppercase;
  float: left;
  font-weight: bold;
  background: #000;
  color: #d3cfc6;
  background-clip: text;
  padding: 0 10px;
}

.last {
  margin-top: 5px;
}

.last span {
  writing-mode: vertical-rl;
  text-transform: uppercase;
  font-size: 45px !important;
  font-family: Verdana, sans-serif;
}

.circle {
  position: relative;
  left: 0.5em;
  font-family: Libre Franklin;
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
}

.circle:before {
  content: "";
  z-index: -1;
  left: -0.5em;
  top: -0.1em;
  border-width: 2px;
  border-style: solid;
  border-color: #b93c12;
  position: absolute;
  border-right-color: transparent;
  width: 100%;
  height: 1em;
  transform: rotate(2deg);
  opacity: 0.7;
  border-radius: 50%;
  padding: 0.1em 0.25em;
}

.circle:after {
  content: "";
  z-index: -1;
  left: -0.5em;
  top: 0.1em;
  padding: 0.1em 0.25em;
  border-width: 2px;
  border-style: solid;
  border-color: #b93c12;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: 100%;
  height: 1em;
  transform: rotate(-1deg);
  opacity: 0.7;
  border-radius: 50%;
}

.section-2 {
  width: 100%;
  margin: 20px;
  padding: 0px;
}

.section-2 .content {
  display: flex;
  gap: 20px;
}

.section-2 .content .text {
  width: 50%;
  line-height: 1.6;
}

.section-2 .content .text p {
  text-align: justify;
}

.section-2 .content .text h2 {
  width: 100%;
  font-size: 60px;
  color: #000;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
}

.section-2 .content .text h2::before {
  width: 100%;
  content: "";
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  top: 2px;
}

.section-2 .content .text h2::after {
  width: 100%;
  content: "";
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: 2px;
}

.section-2 .content .image {
  width: 100%;
  filter: grayscale(100%); 
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box {
  position: absolute;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  display: none;
  place-content: center;
  background-color: #000000;
  color: #fff;
  font-family: "Dela Gothic One",sans-serif;
  font-size: 30px;
  opacity: 0;
}

.box:nth-child(1) {
  z-index: -1;
}

.box:nth-child(2) {
  z-index: -2;
}

.box:nth-child(3) {
  z-index: -3;
}

.box:nth-child(4) {
  z-index: -4;
}

.box:nth-child(5) {
  z-index: -5;
}
.box:nth-child(6) {
  z-index: -6;
}
.box:nth-child(7) {
  z-index: -7;
}
.box:nth-child(8) {
  z-index: -8;
}
.box:nth-child(9) {
  z-index: -9;
}



.mouse-trail{
    position: fixed;
    pointer-events: none;
    top: 0;
}